/* HEADER */
.header {
    display: flex;
    font-size: large;
    color: #e6e6e6;
    align-items: center;
    gap: 12px;
    padding: 18px 20px;
    background: linear-gradient(135deg, #0a2540, #3b82f6 100%);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #e6e6e6;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header h1 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
}

.back-button {
    background: #f5f5f5;
    border: none;
    padding: 10px 14px;
    border-radius: 12px;
    cursor: pointer;
    transition: .2s ease;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
}

.back-button:hover {
    background: #e9e9e9;
}

.arrow {
    font-size: 18px;
    font-weight: 700;
}

/* CONTAINER */
.container {
    padding: 20px;
}

/* GRID – dois cards lado a lado */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

/* CARD */
.card {
    background: #fff;
    width: 380px;
    height: 200px;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: .2s ease;
}

.card:hover {
    color: #0a2540;
    transform: translateY(-3px);
}

/* TÍTULO DO CARD */
.card-title {
    font-size: 20px;
    font-weight: 700;
}

/* BOTÃO */
.card-button {
    background: linear-gradient(135deg, #0a2540, #3b82f6 100%);
    color: white;
    border: none;
    padding: 12px 0;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 3px 10px rgba(123, 110, 255, 0.3);
}

.card-button:hover {
     background: linear-gradient(135deg, #0a2540, #3b82f6 100%);
    transform: translateY(-2px);
}

/* PROGRESSO */
.progress-container {
    background: #e9e9e9;
    border-radius: 12px;
    padding: 6px;
    text-align: center;
}

.progress {
    font-size: 14px;
    font-weight: 600;
}
