/* HEADER */
.header {
  margin-bottom: 1%;
  position: relative;
  background: linear-gradient(135deg, #0a2540 0%, #3b82f6 100%);
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center; /* Agora centraliza certinho */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header h1 {
     color: white;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.back-button {
    width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;   /* ADICIONADO */
  left: 20px;           /* Botão no canto */
  top: 50%;             /* Centralizado na vertical */
  transform: translateY(-50%);
  transition: transform 0.2s;
}

.back-button:hover {
    background: #e9e9e9;
}

.arrow {
    font-size: 18px;
    font-weight: 700;
}

/* CONTAINER */
.container {
    padding: 20px;
}

/* GRID – dois cards lado a lado */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

/* CARD */
.card {
    background: #fff;
    width: 380px;
    height: 200px;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: .2s ease;
}

.card:hover {
    color: #0a2540;
    transform: translateY(-3px);
}

/* TÍTULO DO CARD */
.card-title {
    font-size: 20px;
    font-weight: 700;
}

/* BOTÃO */
.card-button {
    background: linear-gradient(135deg, #0a2540, #3b82f6 100%);
    color: white;
    border: none;
    padding: 12px 0;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 3px 10px rgba(123, 110, 255, 0.3);
}

.card-button:hover {
     background: linear-gradient(135deg, #0a2540, #3b82f6 100%);
    transform: translateY(-2px);
}

/* PROGRESSO */
.progress-container {
    background: #e9e9e9;
    border-radius: 12px;
    padding: 6px;
    text-align: center;
}

.progress {
    font-size: 14px;
    font-weight: 600;
}
