.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.gif-inicio {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.start-btn {
    color: white;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(135deg, #1e3a8a 0%, #3b82f6 100%);
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
